@{
    ViewBag.Title = "About";
}
<!-- Conteúdo principal -->
<section id="header">
    <div class="container">
        <div class="row">
            <div class="col text-center">
                <header>
                    <h1>A CredenciALL</h1>
                    <div class="text-start">
                        <p>
                            CredenciALL é um conjunto de aplicações para a fácil gestão de certificados digitais,
                            suas principais caracteristícas são, agilidade na instalação dos certificados, segurança
                            no armazenamento das senhas e controle de acesso via permissões de usuários.
                        </p>
                        <p>
                            Este é um Projeto Experimental de Conclusão do Curso de Analise e Desenvolvimento de Sistemas da
                            Unifaat de 2020 - 2022.
                        </p>
                        <p>Realizado por Bruno Alves de Souza e Stefany de Morais Toscano.</p>
                        <p>Tecnologias utilizadas:</p>
                        <ul>
                            <li>Frontend:</li>
                            <ul>
                                <li>HTML5</li>
                                <li>CSS3</li>
                                <li>JavaScript</li>
                                <li>Bootstrap 5</li>
                                <li>Bootstrap Icons</li>
                            </ul>
                            <li>Backend:</li>
                            <ul>
                                <li>C#</li>
                                <li>ASP .NET</li>
                                <li>EntityFramework</li>
                            </ul>
                            <li>Banco de dados:</li>
                            <ul>
                                <li>SQL</li>
                                <li>MySQL</li>
                            </ul>
                            <li>Elementos gráficos:</li>
                            <ul>
                                <li>Humaaans</li>
                                <li>Artes desenvolvidas pela equipe em software livre Inkscape</li>
                            </ul>
                        </ul>
                    </div>
                </header>
            </div>
        </div>
    </div>
</section>
