@{
    ViewBag.Title = "Contact";
}
<!-- Conteúdo principal -->
<section id="header">
    <div class="container">
        <div class="row">
            <div class="col text-center">
                <header>
                    <h1>Fale com a CredenciALL</h1>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Consequuntur minus aperiam officiis ipsum exercitationem, tempore doloribus corrupti assumenda ut hic suscipit recusandae nihil sunt officia, repudiandae inventore voluptatem incidunt quibusdam?</p>
                </header>
            </div>
        </div>
    </div>
</section>
<!-- Formulario -->
<section id="contact">
    <div class="container">
        <div class="row">
            <div class="col-xs-12 col-sm-12 col-md-12 col-lg-6 col-xl-6 order-last order-sm-2 order-md-1 order-lg-2 order-xl-first">
                <iframe id="map" src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3670.0702972413396!2d-46.54648658439439!3d-23.0945223504044!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x94cec73275266b3f%3A0x39bf7f2f95ceea09!2sCentro%20Universit%C3%A1rio%20UNIFAAT!5e0!3m2!1sen!2sbr!4v1648054264122!5m2!1sen!2sbr" width="100%" height="100%" style="border:0;" allowfullscreen="" loading="lazy"></iframe>
            </div>
            <div class="col-xs-12 col-sm-12 col-md-12 col-lg-6 col-xl-6 order-first order-sm-1 order-md-2 order-lg-1 order-xl-1">
                <form action="">
                    <div class="mb-3">
                        <label for="name" class="form-label">Nome</label>
                        <input type="email" class="form-control" id="name" placeholder="Nome completo">
                    </div>
                    <div class="mb-3">
                        <label for="email" class="form-label">Email</label>
                        <input type="email" class="form-control" id="email" placeholder="nome@exemplo.com.br">
                    </div>
                    <div class="mb-3">
                        <label for="message" class="form-label">Sua mensagem</label>
                        <textarea class="form-control" id="message" rows="6"></textarea>
                    </div>
                    <div class="mb-3 text-end">
                        <button type="submit" class="btn btn-primary">Enviar</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</section>